# Isaac Dennis / [Homepage](https://isaacdennis.tech/)
## :pencil: About
* Currently undergrad student of IT Systems Analysis & Development at _Fatec São Paulo_
* Main interests: data science, linux, math

Go to [isaacdennis.tech/about](https://isaacdennis.tech/about.html) for more information (page under construction).
## :earth_americas: Recent contributions
{{range .Contributions}}
* {{humanizeEvent . $.Format}}
{{- end}}
